@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    William Etchebeur Ferreira<br />
    São José dos Campos, Brazil<br />
    <abbr title="Phone"></abbr>
    +55(12)98834-0008
</address>

<address>
    <strong>Support:</strong> <a href="williametchebeur@gmail.com">williametchebeur@gmail.com</a><br />
</address>
